@use 'mixins';

/* -------------------- Execute code plugin compatibility -------------------- */
.codeblock-customizer-support-execute-code {
  .markdown-rendered pre.codeblock-customizer-pre {
    .run-code-button,
    .clear-button {
      // hide original buttons
      display: none;
    }

    @media (hover: hover) {
      &:hover code.language-output {
        // remove hover effect
        margin-bottom: 0 !important;
      }
    }
  }
}

.markdown-rendered {
  // execute code button, clear code button and edit code button styling
  .codeblock-customizer-execute-code-button,
  .codeblock-customizer-execute-code-clear-button,
  .codeblock-customizer-execute-code-edit-button {
    padding: var(--size-4-1) var(--size-4-2);
    background-color: transparent;
    box-shadow: none;
    color: var(--text-muted);
    font-family: var(--font-interface);
    font-size: var(--font-ui-smaller);

    @media (hover: hover) {
      &:hover {
        background-color: rgb(var(--mono-rgb-100), 0.075);
      }
    }
  }
}

/* hide original code */
.codeblock-customizer-pre-parent>.codeblock-customizer-pre>code.codeblock-customizer-hidden-code {
  display: none;
}

/* code output styling */
pre.codeblock-customizer-pre {
  .codeblock-customizer-execute-code-output {
    // border-top: 2px solid var(--header-line-color, var(--codeblock-customizer-header-line-color));
    padding-top: 0 !important;

    hr {
      // hide the hr element
      display: none;
    }

    .codeblock-customizer-output .codeblock-customizer-line-text {
      color: var(--text-muted) !important;
    }

    // interactive stdin
    input.interactive-stdin {
      border-width: 1px;
      border-style: solid;
      border-color: var(--code-comment);
      border-radius: var(--border-radius);
      background-color: var(--codeblock-background-color, var(--codeblock-customizer-codeblock-background-color));

      /* padding: 2px 8px; */
      color: var(--text-normal);
    }
  }

  .codeblock-customizer-output .codeblock-customizer-line-text {
    color: var(--text-muted) !important;
  }
}

.codeblock-customizer-style-execute-code-output pre.codeblock-customizer-pre .codeblock-customizer-execute-code-output .stderr,
body:not(.codeblock-customizer-style-execute-code-output) pre.codeblock-customizer-pre .codeblock-customizer-execute-code-output,
pre.codeblock-customizer-pre button.run-code-button+code.language-output {
  display: inline-block;
  padding-left: var(--line-number-gutter-padding) !important;
  white-space: pre-wrap;
}

/* line number */
.markdown-source-view .codeblock-customizer-execute-code-output .codeblock-customizer-output .codeblock-customizer-line-number {
  height: unset;
}

.markdown-rendered .codeblock-customizer-pre .codeblock-customizer-execute-code-output .codeblock-customizer-output>div {
  &:last-child>.codeblock-customizer-line-number {
    box-shadow: 0 var(--code-padding) var(--gutter-background-color, var(--codeblock-customizer-gutter-background-color));
  }

  &:first-child>.codeblock-customizer-line-number {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }
}

/* hide original output */
.codeblock-customizer-original-output-hidden {
  display: none !important;
}

/* hide output when code block is folded */
pre.codeblock-customizer-pre.codeblock-customizer-codeblock-collapsed,
pre.codeblock-customizer-pre.codeblock-customizer-codeblock-semi-collapsed {
  .codeblock-customizer-execute-code-output,
  .codeblock-customizer-execute-code-clear-button,
  .codeblock-customizer-execute-code-button {
    display: none !important;
  }
}

.codeblock-customizer-header-group-container.collapsed,
.codeblock-customizer-header-group-container.semi-collapsed {
  .codeblock-customizer-execute-code-clear-button,
  .codeblock-customizer-execute-code-button {
    display: none;
  }
}

.codeblock-customizer-execute-code-button-pending-verification,
.codeblock-customizer-execute-code-clear-button-hidden {
  display: none;
}

/* output separator widget */
.has-output-separator {
  position: relative;
  padding-bottom: 1.5em;

  .codeblock-customizer-line-number {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
}

.codeblock-customizer-execute-code-output-separator-container {
  position: absolute;
  z-index: 10;
  top: 70%;
  left: 0;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 1.5em;
  flex-wrap: nowrap;
  align-items: center;
  background-color: var(--codeblock-background-color, var(--codeblock-customizer-codeblock-background-color));
}

.codeblock-customizer-execute-code-output-separator-content {
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  color: var(--text-muted);
  cursor: default;
  font-size: 0.85em;
  font-style: italic;
  user-select: none;

  &::before,
  &::after {
    flex: 1;
    content: "";
    opacity: 0.3;
  }

  &::before {
    margin: 0 8px 0 16px;
  }

  &::after {
    margin: 0 16px 0 8px;
  }
}

.codeblock-customizer-execute-code-separator-dashed .codeblock-customizer-execute-code-output-separator-content {
  &::before,
  &::after {
    @include mixins.separator-dashed;
  }
}

.codeblock-customizer-execute-code-separator-doubleline .codeblock-customizer-execute-code-output-separator-content {
  &::before,
  &::after {
    @include mixins.separator-doubleline;
  }
}

.codeblock-customizer-execute-code-separator-zigzag .codeblock-customizer-execute-code-output-separator-content {
  &::before,
  &::after {
    @include mixins.separator-zigzag;
  }
}