/* folding in reading view */
.markdown-reading-view,
.markdown-source-view {
  .codeblock-customizer-collapse-indicator {
    position: relative;
    z-index: 1;

    .codeblock-customizer-collapse-icon {
      right: -0.5em;
      padding-right: 0.5rem;
    }
  }

  .codeblock-customizer-collapse-icon {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    display: none;
    height: 100%;

    /* padding-right: 5px; */
    color: var(--collapse-icon-color);
    cursor: var(--cursor);
    user-select: none;
  }

  @media (hover: hover) {
    .codeblock-customizer-line-text:hover .codeblock-customizer-collapse-icon {
      display: block;
    }
  }

  .codeblock-customizer-line-hidden {
    display: none !important;
  }

  .codeblock-customizer-lines-below-collapsed .codeblock-customizer-collapse-icon {
    display: block;
    color: var(--collapse-icon-color-collapsed);
  }

  .codeblock-customizer-foldPlaceholder {
    border: none;
    margin-left: 8px;
    background-color: transparent;
    color: var(--text-faint);
  }
}

/* hide code line collapse indicator, buttons, and collapse icon when printing */
.print {
  .codeblock-customizer-collapse-indicator,
  .codeblock-customizer-button-container,
  .codeblock-customizer-header-collapse,
  .codeblock-customizer-uncollapse-code {
    display: none !important;
  }
}

/* Semi-folding */
.codeblock-customizer-use-semifold {
  --codeblock-customizer-semifold-opacity-l0: 1;
  --codeblock-customizer-semifold-opacity-l1: 1;
  --codeblock-customizer-semifold-opacity-l2: 1;
  --codeblock-customizer-semifold-opacity-l3: 1;
  --codeblock-customizer-semifold-blur-l0: 0px;
  --codeblock-customizer-semifold-blur-l1: 0px;
  --codeblock-customizer-semifold-blur-l2: 0px;
  --codeblock-customizer-semifold-blur-l3: 0px;

  &.codeblock-customizer-semifold-effect-opacity {
    --codeblock-customizer-semifold-opacity-l0: 0.5;
    --codeblock-customizer-semifold-opacity-l1: 0.3;
    --codeblock-customizer-semifold-opacity-l2: 0.1;
    --codeblock-customizer-semifold-opacity-l3: 0.05;
  }

  &.codeblock-customizer-semifold-effect-blur {
    --codeblock-customizer-semifold-blur-l0: 0.7px;
    --codeblock-customizer-semifold-blur-l1: 1.2px;
    --codeblock-customizer-semifold-blur-l2: 1.7px;
    --codeblock-customizer-semifold-blur-l3: 2.2px;
  }

  // reading view
  .markdown-rendered .codeblock-customizer-codeblock-semi-collapsed {
    .codeblock-customizer-fade-out-line0 {
      .cm-hmd-codeblock,
      >.prompt-part,
      .codeblock-customizer-prompt,
      .codeblock-customizer-prompt-cmd-output,
      .codeblock-customizer-line-number .codeblock-customizer-line-number-element,
      .codeblock-customizer-line-number-specific .codeblock-customizer-line-number-element,
      .codeblock-customizer-line-text,
      .codeblock-customizer-line-separator,
      .codeblock-customizer-hidden-line-container,
      .codeblock-customizer-annotation-icon {
        filter: blur(var(--codeblock-customizer-semifold-blur-l0));
        opacity: var(--codeblock-customizer-semifold-opacity-l0);
        pointer-events: none;
      }

      background: linear-gradient(to bottom, color-mix(in srgb, var(--codeblock-background-color, var(--codeblock-customizer-codeblock-background-color)) 100%, var(--background-primary)) 0%, color-mix(in srgb, var(--codeblock-background-color, var(--codeblock-customizer-codeblock-background-color)) 75%, var(--background-primary)) 100%);

      .codeblock-customizer-line-number,
      .codeblock-customizer-line-number-specific {
        background: linear-gradient(to bottom, color-mix(in srgb, var(--gutter-background-color, var(--codeblock-customizer-gutter-background-color)) 100%, var(--background-primary)) 0%, color-mix(in srgb, var(--gutter-background-color, var(--codeblock-customizer-gutter-background-color)) 75%, var(--background-primary)) 100%);
      }

      .codeblock-customizer-line-separator,
      .codeblock-customizer-line-separator-gutter,
      .codeblock-customizer-hidden-line-container,
      .codeblock-customizer-hidden-line-gutter,
      .codeblock-customizer-hidden-line-gutter-specific {
        background: transparent;
      }
    }

    .codeblock-customizer-fade-out-line1 {
      .cm-hmd-codeblock,
      >.prompt-part,
      .codeblock-customizer-prompt,
      .codeblock-customizer-prompt-cmd-output,
      .codeblock-customizer-line-number .codeblock-customizer-line-number-element,
      .codeblock-customizer-line-number-specific .codeblock-customizer-line-number-element,
      .codeblock-customizer-line-text,
      .codeblock-customizer-line-separator,
      .codeblock-customizer-hidden-line-container,
      .codeblock-customizer-annotation-icon {
        filter: blur(var(--codeblock-customizer-semifold-blur-l1));
        opacity: var(--codeblock-customizer-semifold-opacity-l1);
        pointer-events: none;
      }

      background: linear-gradient(to bottom, color-mix(in srgb, var(--codeblock-background-color, var(--codeblock-customizer-codeblock-background-color)) 75%, var(--background-primary)) 0%, color-mix(in srgb, var(--codeblock-background-color, var(--codeblock-customizer-codeblock-background-color)) 50%, var(--background-primary)) 100%);

      .codeblock-customizer-line-number,
      .codeblock-customizer-line-number-specific {
        background: linear-gradient(to bottom, color-mix(in srgb, var(--gutter-background-color, var(--codeblock-customizer-gutter-background-color)) 75%, var(--background-primary)) 0%, color-mix(in srgb, var(--gutter-background-color, var(--codeblock-customizer-gutter-background-color)) 50%, var(--background-primary)) 100%);
      }

      .codeblock-customizer-line-separator,
      .codeblock-customizer-line-separator-gutter,
      .codeblock-customizer-hidden-line-container,
      .codeblock-customizer-hidden-line-gutter,
      .codeblock-customizer-hidden-line-gutter-specific {
        background: transparent;
      }
    }

    .codeblock-customizer-fade-out-line2 {
      .cm-hmd-codeblock,
      >.prompt-part,
      .codeblock-customizer-prompt,
      .codeblock-customizer-prompt-cmd-output,
      .codeblock-customizer-line-number .codeblock-customizer-line-number-element,
      .codeblock-customizer-line-number-specific .codeblock-customizer-line-number-element,
      .codeblock-customizer-line-text,
      .codeblock-customizer-line-separator,
      .codeblock-customizer-hidden-line-container,
      .codeblock-customizer-annotation-icon {
        filter: blur(var(--codeblock-customizer-semifold-blur-l2));
        opacity: var(--codeblock-customizer-semifold-opacity-l2);
        pointer-events: none;
      }

      background: linear-gradient(to bottom, color-mix(in srgb, var(--codeblock-background-color, var(--codeblock-customizer-codeblock-background-color)) 50%, var(--background-primary)) 0%, color-mix(in srgb, var(--codeblock-background-color, var(--codeblock-customizer-codeblock-background-color)) 25%, var(--background-primary)) 100%);

      .codeblock-customizer-line-number,
      .codeblock-customizer-line-number-specific {
        background: linear-gradient(to bottom, color-mix(in srgb, var(--gutter-background-color, var(--codeblock-customizer-gutter-background-color)) 50%, var(--background-primary)) 0%, color-mix(in srgb, var(--gutter-background-color, var(--codeblock-customizer-gutter-background-color)) 25%, var(--background-primary)) 100%);
      }

      .codeblock-customizer-line-separator,
      .codeblock-customizer-line-separator-gutter,
      .codeblock-customizer-hidden-line-container,
      .codeblock-customizer-hidden-line-gutter,
      .codeblock-customizer-hidden-line-gutter-specific {
        background: transparent;
      }
    }

    .codeblock-customizer-fade-out-line3 {
      .cm-hmd-codeblock,
      >.prompt-part,
      .codeblock-customizer-prompt,
      .codeblock-customizer-prompt-cmd-output,
      .codeblock-customizer-line-number .codeblock-customizer-line-number-element,
      .codeblock-customizer-line-number-specific .codeblock-customizer-line-number-element,
      .codeblock-customizer-line-text,
      .codeblock-customizer-line-separator,
      .codeblock-customizer-hidden-line-container,
      .codeblock-customizer-annotation-icon {
        filter: blur(var(--codeblock-customizer-semifold-blur-l3));
        opacity: var(--codeblock-customizer-semifold-opacity-l3);
        pointer-events: none;
      }

      position: relative;
      background: linear-gradient(to bottom, color-mix(in srgb, var(--codeblock-background-color, var(--codeblock-customizer-codeblock-background-color)) 25%, var(--background-primary)) 0%, color-mix(in srgb, var(--codeblock-background-color, var(--codeblock-customizer-codeblock-background-color)) 0%, var(--background-primary)) 100%);

      .codeblock-customizer-line-number,
      .codeblock-customizer-line-number-specific {
        background: linear-gradient(to bottom, color-mix(in srgb, var(--gutter-background-color, var(--codeblock-customizer-gutter-background-color)) 25%, var(--background-primary)) 0%, color-mix(in srgb, var(--gutter-background-color, var(--codeblock-customizer-gutter-background-color)) 0%, var(--background-primary)) 100%);
      }

      .codeblock-customizer-line-separator,
      .codeblock-customizer-line-separator-gutter,
      .codeblock-customizer-hidden-line-container,
      .codeblock-customizer-hidden-line-gutter,
      .codeblock-customizer-hidden-line-gutter-specific {
        background: transparent;
      }
    }

    .codeblock-customizer-fade-out-line-hide {
      display: none !important;
    }

    &>code {
      padding-bottom: 0;
    }

    .codeblock-customizer-uncollapse-code {
      position: absolute;
      z-index: 1;
      top: -10px;
      right: 50%;
      display: inline-block;

      /* padding: var(--size-4-1) var(--size-4-2); */
      padding-top: 4px;
      padding-right: 8px;
      padding-left: 8px;
      border-radius: var(--radius-s);
      color: var(--text-muted);
      cursor: var(--cursor);
      font-family: var(--font-interface);
      font-size: var(--font-ui-smaller);
      transform: translateX(50%);

      /* margin-top: calc(var(--line-height-normal) * 1em); */
    }
  }

  // source view
  .markdown-source-view .HyperMD-codeblock-bg {
    &.codeblock-customizer-fade-out-line0 {
      .cm-hmd-codeblock,
      >.prompt-part,
      .codeblock-customizer-prompt,
      .codeblock-customizer-prompt-cmd-output,
      .codeblock-customizer-line-number .codeblock-customizer-line-number-element,
      .codeblock-customizer-line-number-specific .codeblock-customizer-line-number-element,
      .codeblock-customizer-line-text,
      .codeblock-customizer-line-separator,
      .codeblock-customizer-hidden-line-container,
      .codeblock-customizer-annotation-icon {
        filter: blur(var(--codeblock-customizer-semifold-blur-l0));
        opacity: var(--codeblock-customizer-semifold-opacity-l0);
        pointer-events: none;
      }

      background: linear-gradient(to bottom, color-mix(in srgb, var(--codeblock-background-color, var(--codeblock-customizer-codeblock-background-color)) 100%, var(--background-primary)) 0%, color-mix(in srgb, var(--codeblock-background-color, var(--codeblock-customizer-codeblock-background-color)) 75%, var(--background-primary)) 100%);

      .codeblock-customizer-line-number,
      .codeblock-customizer-line-number-specific,
      .cbc-line-num {
        background: linear-gradient(to bottom, color-mix(in srgb, var(--gutter-background-color, var(--codeblock-customizer-gutter-background-color)) 100%, var(--background-primary)) 0%, color-mix(in srgb, var(--gutter-background-color, var(--codeblock-customizer-gutter-background-color)) 75%, var(--background-primary)) 100%);
        box-shadow: 0 1px 0 0 color-mix(in srgb, var(--gutter-background-color, var(--codeblock-customizer-gutter-background-color)) 75%, var(--background-primary)) !important;
      }

      .codeblock-customizer-prompt-cmd-output::before {
        background: color-mix(in srgb, var(--gutter-background-color, var(--codeblock-customizer-gutter-background-color)) 75%, var(--background-primary)) !important;
        box-shadow: none !important;
      }

      .codeblock-customizer-line-separator,
      .codeblock-customizer-line-separator-gutter,
      .codeblock-customizer-hidden-line-container,
      .codeblock-customizer-hidden-line-gutter,
      .codeblock-customizer-hidden-line-gutter-specific {
        background: transparent;
      }

      &:not(.cm-hmd-codeblock)>.codeblock-customizer-link {
        filter: blur(var(--codeblock-customizer-semifold-blur-l0));
        opacity: var(--codeblock-customizer-semifold-opacity-l0);
      }
    }

    &.codeblock-customizer-fade-out-line1 {
      .cm-hmd-codeblock,
      >.prompt-part,
      .codeblock-customizer-prompt,
      .codeblock-customizer-prompt-cmd-output,
      .codeblock-customizer-line-number .codeblock-customizer-line-number-element,
      .codeblock-customizer-line-number-specific .codeblock-customizer-line-number-element,
      .codeblock-customizer-line-text,
      .codeblock-customizer-line-separator,
      .codeblock-customizer-hidden-line-container,
      .codeblock-customizer-annotation-icon {
        filter: blur(var(--codeblock-customizer-semifold-blur-l1));
        opacity: var(--codeblock-customizer-semifold-opacity-l1);
        pointer-events: none;
      }

      background: linear-gradient(to bottom, color-mix(in srgb, var(--codeblock-background-color, var(--codeblock-customizer-codeblock-background-color)) 75%, var(--background-primary)) 0%, color-mix(in srgb, var(--codeblock-background-color, var(--codeblock-customizer-codeblock-background-color)) 50%, var(--background-primary)) 100%);

      .codeblock-customizer-line-number,
      .codeblock-customizer-line-number-specific,
      .cbc-line-num {
        background: linear-gradient(to bottom, color-mix(in srgb, var(--gutter-background-color, var(--codeblock-customizer-gutter-background-color)) 75%, var(--background-primary)) 0%, color-mix(in srgb, var(--gutter-background-color, var(--codeblock-customizer-gutter-background-color)) 50%, var(--background-primary)) 100%);
        box-shadow: 0 1px 0 0 color-mix(in srgb, var(--gutter-background-color, var(--codeblock-customizer-gutter-background-color)) 50%, var(--background-primary)) !important;
      }

      .codeblock-customizer-prompt-cmd-output::before {
        background: color-mix(in srgb, var(--gutter-background-color, var(--codeblock-customizer-gutter-background-color)) 50%, var(--background-primary)) !important;
        box-shadow: none !important;
      }

      .codeblock-customizer-line-separator,
      .codeblock-customizer-line-separator-gutter,
      .codeblock-customizer-hidden-line-container,
      .codeblock-customizer-hidden-line-gutter,
      .codeblock-customizer-hidden-line-gutter-specific {
        background: transparent;
      }

      &:not(.cm-hmd-codeblock)>.codeblock-customizer-link {
        filter: blur(var(--codeblock-customizer-semifold-blur-l1));
        opacity: var(--codeblock-customizer-semifold-opacity-l1);
      }
    }

    &.codeblock-customizer-fade-out-line2 {
      .cm-hmd-codeblock,
      >.prompt-part,
      .codeblock-customizer-prompt,
      .codeblock-customizer-prompt-cmd-output,
      .codeblock-customizer-line-number .codeblock-customizer-line-number-element,
      .codeblock-customizer-line-number-specific .codeblock-customizer-line-number-element,
      .codeblock-customizer-line-text,
      .codeblock-customizer-line-separator,
      .codeblock-customizer-hidden-line-container,
      .codeblock-customizer-annotation-icon {
        filter: blur(var(--codeblock-customizer-semifold-blur-l2));
        opacity: var(--codeblock-customizer-semifold-opacity-l2);
        pointer-events: none;
      }

      background: linear-gradient(to bottom, color-mix(in srgb, var(--codeblock-background-color, var(--codeblock-customizer-codeblock-background-color)) 50%, var(--background-primary)) 0%, color-mix(in srgb, var(--codeblock-background-color, var(--codeblock-customizer-codeblock-background-color)) 25%, var(--background-primary)) 100%);

      .codeblock-customizer-line-number,
      .codeblock-customizer-line-number-specific,
      .cbc-line-num {
        background: linear-gradient(to bottom, color-mix(in srgb, var(--gutter-background-color, var(--codeblock-customizer-gutter-background-color)) 50%, var(--background-primary)) 0%, color-mix(in srgb, var(--gutter-background-color, var(--codeblock-customizer-gutter-background-color)) 25%, var(--background-primary)) 100%);
        box-shadow: 0 1px 0 0 color-mix(in srgb, var(--gutter-background-color, var(--codeblock-customizer-gutter-background-color)) 25%, var(--background-primary)) !important;
      }

      .codeblock-customizer-prompt-cmd-output::before {
        background: color-mix(in srgb, var(--gutter-background-color, var(--codeblock-customizer-gutter-background-color)) 25%, var(--background-primary)) !important;
        box-shadow: none !important;
      }

      .codeblock-customizer-line-separator,
      .codeblock-customizer-line-separator-gutter,
      .codeblock-customizer-hidden-line-container,
      .codeblock-customizer-hidden-line-gutter,
      .codeblock-customizer-hidden-line-gutter-specific {
        background: transparent;
      }

      &:not(.cm-hmd-codeblock)>.codeblock-customizer-link {
        filter: blur(var(--codeblock-customizer-semifold-blur-l2));
        opacity: var(--codeblock-customizer-semifold-opacity-l2);
      }
    }

    &.codeblock-customizer-fade-out-line3 {
      .cm-hmd-codeblock,
      >.prompt-part,
      .codeblock-customizer-prompt,
      .codeblock-customizer-prompt-cmd-output,
      .codeblock-customizer-line-number .codeblock-customizer-line-number-element,
      .codeblock-customizer-line-number-specific .codeblock-customizer-line-number-element,
      .codeblock-customizer-line-text,
      .codeblock-customizer-line-separator,
      .codeblock-customizer-hidden-line-container,
      .codeblock-customizer-annotation-icon {
        filter: blur(var(--codeblock-customizer-semifold-blur-l3));
        opacity: var(--codeblock-customizer-semifold-opacity-l3);
        pointer-events: none;
      }

      background: linear-gradient(to bottom, color-mix(in srgb, var(--codeblock-background-color, var(--codeblock-customizer-codeblock-background-color)) 25%, var(--background-primary)) 0%, color-mix(in srgb, var(--codeblock-background-color, var(--codeblock-customizer-codeblock-background-color)) 0%, var(--background-primary)) 100%);

      .codeblock-customizer-line-number,
      .codeblock-customizer-line-number-specific,
      .cbc-line-num {
        z-index: 0;
        background: linear-gradient(to bottom, color-mix(in srgb, var(--gutter-background-color, var(--codeblock-customizer-gutter-background-color)) 25%, var(--background-primary)) 0%, color-mix(in srgb, var(--gutter-background-color, var(--codeblock-customizer-gutter-background-color)) 0%, var(--background-primary)) 100%);
        box-shadow: 0 1px 0 0 color-mix(in srgb, var(--gutter-background-color, var(--codeblock-customizer-gutter-background-color)) 0%, var(--background-primary)) !important;
      }

      .codeblock-customizer-prompt-cmd-output::before {
        background: color-mix(in srgb, var(--gutter-background-color, var(--codeblock-customizer-gutter-background-color)) 0%, var(--background-primary)) !important;
        box-shadow: none !important;
      }

      .codeblock-customizer-line-separator,
      .codeblock-customizer-line-separator-gutter,
      .codeblock-customizer-hidden-line-container,
      .codeblock-customizer-hidden-line-gutter,
      .codeblock-customizer-hidden-line-gutter-specific {
        background: transparent;
      }

      &:not(.cm-hmd-codeblock)>.codeblock-customizer-link {
        filter: blur(var(--codeblock-customizer-semifold-blur-l3));
        opacity: var(--codeblock-customizer-semifold-opacity-l3);
      }
    }
  }

  &.codeblock-customizer-show-uncollapse-code-button {
    .markdown-source-view .codeblock-customizer-uncollapse-code {
      position: absolute;
      z-index: 1;
      top: -10px;
      right: 50%;
      display: inline-block;
      padding: var(--size-4-1) var(--size-4-2);
      border-radius: var(--radius-s);
      color: var(--text-muted);
      cursor: var(--cursor);
      font-family: var(--font-interface);
      font-size: var(--font-ui-smaller);
      transform: translateX(50%);
    }
  }
}

.codeblock-customizer-uncollapse-code,
.markdown-embed .markdown-preview-view .codeblock-customizer-uncollapse-code {
  display: none;
}

@media (hover: hover) {
  .codeblock-customizer-uncollapse-code:hover {
    background-color: var(--gutter-background-color, var(--codeblock-customizer-gutter-background-color));
    color: cyan;
  }
}

.codeblock-customizer {
  &.codeblock-customizer-style-codeblock-border-left {
    .markdown-source-view .hasLangBorderColor.codeblock-customizer-fade-out-line3 {
      border-bottom-left-radius: var(--border-radius);
    }
  }

  &.codeblock-customizer-style-codeblock-border-right {
    .markdown-source-view .hasLangBorderColor.codeblock-customizer-fade-out-line3 {
      border-bottom-right-radius: var(--border-radius);
    }
  }
}

/* Link fade out in semi fold */
.codeblock-customizer-link,
.codeblock-customizer-link>p,
.codeblock-customizer-header-text>p {
  display: inline;
}