/* Highlighting */
.codeblock-customizer-line-highlighted,
.codeblock-customizer-highlighted-text {
  background-color: var(--codeblock-customizer-codeblock-highlight-color) !important;
}

.codeblock-customizer-active-line-highlight,
.codeblock-customizer-active-line-highlight-editor {
  .cm-active {
    background-color: var(--codeblock-customizer-editor-active-line-color) !important;
  }
}

.codeblock-customizer-active-line-highlight,
.codeblock-customizer-active-line-highlight-codeblock {
  .markdown-source-view [class*="codeblock-customizer-line"].cm-active {
    background-color: var(--codeblock-active-line-color, var(--codeblock-customizer-codeblock-active-line-color)) !important;
  }
}

/* Bracket highlight */
.markdown-source-view {
  [class*="codeblock-customizer-line"] {
    .codeblock-customizer-bracket-highlight-match {
      background-color: var(--codeblock-bracket-highlight-background-color-match, var(--codeblock-customizer-codeblock-bracket-highlight-background-color-match));
      color: var(--codeblock-bracket-highlight-color-match, var(--codeblock-customizer-codeblock-bracket-highlight-color-match));
    }

    .codeblock-customizer-bracket-highlight-nomatch {
      background-color: var(--codeblock-bracket-highlight-background-color-nomatch, var(--codeblock-customizer-codeblock-bracket-highlight-background-color-nomatch));
      color: var(--codeblock-bracket-highlight-color-nomatch, var(--codeblock-customizer-codeblock-bracket-highlight-color-nomatch));
    }

    &.cbc-prism {
      .codeblock-customizer-bracket-highlight-match,
      .codeblock-customizer-bracket-highlight-nomatch {
        [class*="token"] {
          color: inherit !important;
        }
      }
    }
  }

  .codeblock-customizer-bracket-highlight-match,
  .codeblock-customizer-bracket-highlight-nomatch {
    // dont apply to non-codeblock lines
    background-color: transparent;
  }

  // Selection matching
  .codeblock-customizer-line .cm-selectionMatch {
    background-color: var(--codeblock-selectionmatch-highlight-color, var(--codeblock-customizer-codeblock-selectionmatch-highlight-color));
  }

  .cm-selectionMatch:not(.codeblock-customizer-line .cm-selectionMatch) {
    // dont apply to non-codeblock lines
    background-color: transparent !important;
  }

}

// Frontmatter
.codeblock-customizer-style-frontmatter .markdown-source-view {
  .cm-hmd-frontmatter {
    color: var(--codeblock-customizer-frontmatter-unclassed-color);

    &.cm-atom {
      color: var(--codeblock-customizer-frontmatter-atom-color);
    }

    &.cm-meta {
      color: var(--codeblock-customizer-frontmatter-meta-color);
    }

    &.cm-string {
      color: var(--codeblock-customizer-frontmatter-string-color);
    }

    &.cm-keyword {
      color: var(--codeblock-customizer-frontmatter-keyword-color);
    }

    &.cm-number {
      color: var(--codeblock-customizer-frontmatter-number-color);
    }

    &.cm-comment {
      color: var(--codeblock-customizer-frontmatter-comment-color);
    }
  }
}