@use 'mixins';

/* Line number gutter styling */
.codeblock-customizer:not(.codeblock-customizer-show-line-numbers) {
  .codeblock-customizer-line-number,
  .codeblock-customizer-hidden-line-gutter {
    display: none;
  }
}

.codeblock-customizer-line-number-hide {
  display: none;
}

.markdown-rendered .codeblock-customizer-pre>code {
  &>div:first-child,
  &>.codeblock-customizer-lines-below-collapsed {
    &>.codeblock-customizer-line-number,
    &>.codeblock-customizer-line-number-specific {
      /* Maintain gutter color when padded */
      box-shadow: 0 calc(-1 * var(--code-padding)) var(--gutter-background-color, var(--codeblock-customizer-gutter-background-color));
    }
  }

  &>div:last-child,
  &>.codeblock-customizer-lines-below-collapsed {
    &>.codeblock-customizer-line-number,
    &>.codeblock-customizer-line-number-specific {
      /* Maintain gutter color when padded */
      box-shadow: 0 var(--code-padding) var(--gutter-background-color, var(--codeblock-customizer-gutter-background-color));
    }
  }

  &>div:only-child {
    &>.codeblock-customizer-line-number,
    &>.codeblock-customizer-line-number-specific {
      /* Maintain gutter color when padded */
      box-shadow: 0 calc(-1 * var(--code-padding)) var(--gutter-background-color, var(--codeblock-customizer-gutter-background-color)), 0 var(--code-padding) var(--gutter-background-color, var(--codeblock-customizer-gutter-background-color));
    }
  }
}

.codeblock-customizer-line-number,
.codeblock-customizer-line-number-specific {
  position: sticky;
  z-index: 1;
  left: 0;
  min-width: var(--line-number-gutter-width);
  box-sizing: border-box;
  padding-top: 2px;
  padding-right: 8px;
  padding-left: 8px;
  background-color: var(--gutter-background-color, var(--codeblock-customizer-gutter-background-color));
  color: var(--gutter-text-color, var(--codeblock-customizer-gutter-text-color));
  font-family: var(--font-monospace);
  font-size: var(--code-size);
  text-align: right;
  user-select: none;
}

.codeblock-customizer-line-number-specific {
  width: var(--gutter-width);
}

.markdown-source-view {
  .codeblock-customizer-line-number,
  .codeblock-customizer-line-number-specific {
    position: absolute;
    left: 0;
    display: inline-block;
    height: 100%;
  }

  .codeblock-customizer-line-number {
    width: var(--line-number-gutter-width);

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .codeblock-customizer-line-number-hide::-webkit-scrollbar {
    display: none;
  }
}

.codeblock-customizer .markdown-source-view .HyperMD-codeblock:has(.codeblock-customizer-line-number-specific-number) {
  --gutter-width: var(--line-number-gutter-width);

  padding-left: calc(var(--gutter-padding, var(--gutter-width)) + var(--line-number-gutter-padding)) !important;
}

.markdown-rendered .codeblock-customizer-line-number,
.markdown-rendered .codeblock-customizer-line-number-specific {
  flex-grow: 1;
  flex-shrink: 0;
}

/* set gutter of separators to sticky for unwrapped code blocks */
.markdown-rendered {
  .codeblock-customizer-hidden-line-container {
    overflow: visible;
  }

  .codeblock-customizer-hidden-line-gutter,
  .codeblock-customizer-hidden-line-gutter-specific,
  .codeblock-customizer-line-separator-gutter {
    position: sticky;
    z-index: 2;
    left: 0;
  }
}

/* Active line highlight in gutter */
.codeblock-customizer-gutter-highlight {
  &.codeblock-customizer-active-line-highlight,
  &.codeblock-customizer-active-line-highlight-codeblock {
    .markdown-source-view [class*="codeblock-customizer-line"].cm-active {
      .codeblock-customizer-line-number,
      .codeblock-customizer-line-number-specific {
        background-color: rgb(0 0 0 / 0%);
      }
    }
  }

  [class*="codeblock-customizer-line-highlighted"] {
    .codeblock-customizer-line-number,
    .codeblock-customizer-line-number-specific {
      background-color: rgb(0 0 0 / 0%);
    }
  }
}

.codeblock-customizer.codeblock-customizer-show-line-numbers .markdown-source-view {
  [class*="codeblock-customizer-line"].HyperMD-codeblock:has(.codeblock-customizer-line-number) {
    padding-left: calc(var(--line-number-gutter-width) + var(--line-number-gutter-padding));
  }
}

.codeblock-customizer .markdown-source-view {
  [class*="codeblock-customizer-line"].HyperMD-codeblock:has(.codeblock-customizer-line-number-specific) {
    padding-left: calc(var(--line-number-gutter-width) + var(--line-number-gutter-padding));
  }

  [class^="codeblock-customizer-line"][style*="--level:"] {
    padding-left: var(--line-number-gutter-padding);
  }
}

/* Active gutter line number highlight */
.codeblock-customizer-gutter-active-line .cm-active .cbc-line-num {
  color: var(--gutter-active-linenr-color, var(--codeblock-customizer-gutter-active-linenr-color));
}

/* line number jumps */
.codeblock-customizer-line-with-jump {
  position: relative;
  padding-bottom: 1.5em !important;
}

.markdown-rendered .codeblock-customizer-line-with-jump {
  padding-bottom: 0 !important;

  .codeblock-customizer-line-text {
    padding-bottom: 1.5em !important;
  }
}

.codeblock-customizer-line-separator {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 1.5em;
  align-items: center;
  background-color: var(--codeblock-background-color, var(--codeblock-customizer-codeblock-background-color));
  pointer-events: none;

  .codeblock-customizer-line-separator-gutter {
    display: flex;
    width: var(--gutter-width);
    min-width: var(--line-number-gutter-width);
    height: 100%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    padding-top: 2px;
    padding-right: 8px;
    padding-left: 8px;
    background-color: var(--gutter-background-color, var(--codeblock-customizer-gutter-background-color));
    color: var(--gutter-text-color, var(--codeblock-customizer-gutter-text-color));
    font-family: var(--font-monospace);
    font-size: var(--code-size);
    user-select: none;
  }
}

.codeblock-customizer-line-separator-content {
  flex-grow: 1;
  margin-right: var(--line-number-gutter-padding);
  margin-left: var(--line-number-gutter-padding);
  opacity: 0.3;
}
  
.codeblock-customizer-linenumberseparator-dashed .codeblock-customizer-line-separator-content {
  @include mixins.separator-dashed;
}

.codeblock-customizer-linenumberseparator-doubleline .codeblock-customizer-line-separator-content {
  align-self: center !important;
  background: none;
  mask: none;

  @include mixins.separator-doubleline;
}

.codeblock-customizer-linenumberseparator-zigzag .codeblock-customizer-line-separator-content {
  align-self: center !important;

  @include mixins.separator-zigzag;
}
  
/* hidden lines */
.has-hidden-lines {
  position: relative;
  padding-bottom: 1.5em !important;
}

.markdown-rendered .has-hidden-lines {
  padding-bottom: 0 !important;

  &.unhidden-range .codeblock-customizer-line-text {
    padding-bottom: unset !important;
  }

  .codeblock-customizer-line-text {
    padding-bottom: 1.5em !important;
  }
}

.codeblock-customizer-hidden-line-container {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 1.5em;
  align-items: center;
  background-color: var(--codeblock-background-color, var(--codeblock-customizer-codeblock-background-color));

  .codeblock-customizer-hidden-line-gutter,
  .codeblock-customizer-hidden-line-gutter-specific {
    display: flex;
    width: var(--gutter-width);
    min-width: var(--line-number-gutter-width);
    height: 100%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    padding-top: 2px;
    padding-right: 8px;
    padding-left: 8px;
    background-color: var(--gutter-background-color, var(--codeblock-customizer-gutter-background-color));
    color: var(--gutter-text-color, var(--codeblock-customizer-gutter-text-color));
    font-family: var(--font-monospace);
    font-size: var(--code-size);
    pointer-events: none;
    user-select: none;
  }
}

.codeblock-customizer-hidden-line-content {
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  color: var(--text-muted);
  cursor: pointer;
  font-size: 0.85em;
  font-style: italic;
  letter-spacing: 0;
  /* stylelint-disable-next-line plugin/no-low-performance-animation-properties */
  transition: color 0.15s ease, letter-spacing 0.15s ease, filter 0.15s ease;
  user-select: none;

  @media (hover: hover) {
    &:hover {
      color: var(--text-normal);
      letter-spacing: 1px;

      // filter: drop-shadow(0 0 4px var(--text-normal));
    }
  }

  &::before,
  &::after {
    flex: 1;
    content: "";
    opacity: 0.3;
    transition: opacity 0.15s ease;
  }

  @media (hover: hover) {
    &:hover::before,
    &:hover::after {
      opacity: 0.7;
    }
  }

  &::before {
    margin: 0 8px 0 16px;
  }

  &::after {
    margin: 0 16px 0 8px;
  }
}

.codeblock-customizer-hidden-lines-dashed .codeblock-customizer-hidden-line-content {
  &::before,
  &::after {
    @include mixins.separator-dashed;
  }
}

.codeblock-customizer-hidden-lines-doubleline .codeblock-customizer-hidden-line-content {
  &::before,
  &::after {
    @include mixins.separator-doubleline;
  }
}

.codeblock-customizer-hidden-lines-zigzag .codeblock-customizer-hidden-line-content {
  &::before,
  &::after {
    @include mixins.separator-zigzag;
  }
}