/* disable all editor syntax highlighting */
body.codeblock-customizer-disable-editor-syntax-highlight .markdown-source-view {
  .cm-line [class*="cm-"],
  .cm-line span.token {
    color: inherit !important;
  }
}

/* undo CodeMirrors color assignment */
.markdown-source-view .cbc-prism {
  [class*="cm-"] {
    color: inherit !important;
  }
}

/* undo CodeMirrors color assignment for inline code */
.markdown-source-view .cbc-prism-inline {
  [class*="cm-"] {
    color: inherit !important;
  }
}
