:root {
  --line-number-gutter-width: 38px;
  --line-number-gutter-padding: 16px;
  --border-radius: 5px;
  --code-padding: 8px;
  --header-padding: 0px;
  --header-spacing: 15px;
  --language-icon-size: 32px;
  --inline-code-padding-vertical: 0.2em;
  --inline-code-padding-horizontal: 0.4em;
}